body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1, h2 {
    margin-bottom: 20px;
}

.options button, form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginMessage, #registerMessage, #adminMessage, #productMessage, #purchaseMessage {
    margin-top: 10px;
}

#adminMessage.success, #productMessage.success, #purchaseMessage.success {
    color: green;
}

#adminMessage.error, #productMessage.error, #purchaseMessage.error {
    color: red;
}

#storeContainer {
    display: none;
}

#storeContainer.show {
    display: block;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.purchaseBtn, .deleteBtn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.deleteBtn {
    background-color: #dc3545;
}